# Ignore all Metashape license files
*.lic

# Ignore test data
TestData

# Ignore system files
.DS_Store

# Ignore compiled python cache
__pycache__

# Extra processing script to compare (not in repo)
AutoProcess_v2

#Ignore experimental .ini file
result.ini

#Ignore experimental cache files
user.args
user.cache
wahleraPrefs.ini
EricMarkers.ini
cache
